@model Product
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="col-sm-4 col-lg-4 col-md-4 mb-4">
    <div class="thumbnail">
        <div class="thumbnail-image-div">
            <img src="/images/products/@Model.ImageName" alt="@Model.Name">
        </div>
        <div class="caption pt-2">
            <h3 class="float-right">$@Model.Price.ToString()</h3>
            <div class="addToCart">
                <p class="button">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-productId="@Model.ProductId"
                           class="btn btn-primary">
                            Add to cart
                        </a>
                    }
                </p>
            </div>
            <h3>
                <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.ProductId">@Model.Name</a>
            </h3>
            <div>@Model.ShortDescription</div>
        </div>
    </div>
</div>